.avatar {
    border-radius: 100%;
}

.profile-card {
    background-color: rgb(44, 47, 51);
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    width: 700px;
    height: auto;
}

.profile-card .username {
    color: white;
    padding-top: 15px;
    font-size: larger;
}

.profile-card .about {
    color: white;
    line-height: 20px;
    font-size: medium;
}

